.navbar-style{
    display: flex;
    justify-content: space-around;
}
.navbar-style ul li a{
    color: rgb(244, 241, 241);
    text-decoration: none;
}
.navbar-style ul li a:hover{
    color:#c7940a;
    text-decoration: underline;
}
.buttonf{
    display: contents;
}
.nav-item{
    display: flex;
    flex-direction: row;
}
#divi{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bg{
    background-color: DimGray;
}
.text-link{
    text-decoration: none;
}